/* Слайдер */
.carousel {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 300px;
  height: auto;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 70%;
  max-height: 700px;
  justify-content: center;
  background-color: #fff;
}

.carusel-href {
  min-width: 300px;
  width: 70%;
}

.carusel-href>img{
  border-radius: 20px;
}

.carousel-img {
  min-width: 300px;
  width: 70%;
  max-height: 700px;
}

.carousel-img a {
  border: 1px solid blue;
}

/* Кнопки */
.carousel-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.button-arrow_container {
  width: 100%;
  position: absolute;
  bottom: 45%;
  display: flex;
  justify-content: space-between;
}

.button-arrow {
  background: none;
  border: none;
  cursor: pointer;
}

.button-arrow:first-child {
  left: 20%;
}

.button-arrow:last-child {
  right: 20%;
}

.button-arrow img {
  height: 40px;
}

.indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.indicator-buttons {
  cursor: pointer;
}

.indicators>button {
  margin: 5px;
  background: none;
}

.indicator-symbol {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #fff !important;
}

.indicator-symbol-active {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  color: #fff;
  background: #000 !important;
}

.button-slider {
  position: absolute;
  bottom: 10%;
  left: 27%;
  display: flex;
  /* gap: 10px; */
  padding: 0px 0px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:550px) {
  .button-slider {
    /* position: absolute;
    bottom: 10%; */
    left: 14%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
}

@media screen and (max-width:400px) {
  .button-slider {
    /* position: absolute;
    bottom: 10%; */
    left: 10%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
}

.button-slider img {
  width: 35px;
}

.button-slider a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 45px;
  background: #FFAF01;
  border-radius: 50px;
  color: #FFF;
  padding: 0px 70px;
  /* background: linear-gradient(to right, #FFEF26, #FDC800, #F18F34, #E95F32, #CD3333); */
  transition: .5s all;
}

.button-slider a :visited {
  color: #FFF;
}

.button-slider a:visited {
  color: #FFF;
}

.button-slider a:hover {
  /* color: #000; */
  background: #333;
}

.button-slider a:active {
  transform: scale(1.1);
}