/* Стили основного контента */

.common-container {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0% 1%;
}

span {
    font-family: "Monserat_custom";
    text-align: center;
    line-height: 20px;
    padding: 10px;
    font-size: 16px;
}

.common-container div {
    max-width: 600px;
}

.common-container>img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.href_toggle-bar {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    /* width: 550px; */
    min-width: 400px;
    height: 100px;
    /* max-width: 450px; */
    /* border: 1px solid black; */
}

.href_toggle-bar span{
    /* border: 1px solid black; */
    height: 50px;
    font-size: 14px;
    /* width: 170px; */
}

/* @media screen and (max-width:660px) {
    .href_toggle-bar {
        font-size: 12px;
    }
} */

.href_toggle-bar svg {
    z-index: 2;
    /* transform: scale(0.8); */
}

.href_toggle-bar a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* height: 70px; */
    /* clip-path: polygon(0% 0, 100% 0, 83% 100%, 14% 100%); */
    /* clip-path: polygon(0% 30%, 100% 10%, 80% 100%, 8% 100%); */
    /* border-radius: 10px; */
    text-align: center;
    /* border-bottom-left-radius: 20%; */
    color: #FFF;
    transition: .5s all;
}

.href_toggle-bar a:hover {
    /* background-color: #000; */
    /* color: #000; */
    transform: none;
}

.href_toggle-bar a:visited {
    color: #FFF;
}

.href_toggle-bar_text a {
    width: 43%;
    height: 100%;
    clip-path: none;
    z-index: 1;
    /* border: 1px solid black; */
}

.href_toggle-bar_text {
    position: absolute;
    /* top: 25px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* clip-path: polygon(0% 0, 100% 0, 83% 100%, 14% 100%); */
    /* width: 380.354px;
    height: 60.0106px; */
    /* border: 1px solid white; */
    background: none;
}

.href_toggle-bar_text a {
    height: 70px;
    width: 250px;
    clip-path: polygon(0 0, 100% 0, 83% 100%, 14% 100%);
}

#href_toggle-bar-first {
    position: absolute;
    top: 10%;
    left: 25%;
    color: #FFF;
    /* font-size: 3vw; */
    /* background-color: orange; */
    /* border-radius: 10px; */
    z-index: 2;
}

/* #href_toggle-bar-first:hover {
    background-color: #FFF;
    color: #000;
} */

#href_toggle-bar-second {
    position: absolute;
    top: 10%;
    right: 22%;
    /* font-size: 3vw; */
    color: #FFF;
    z-index: 1;
}

#href_toggle-bar-second:hover{
    cursor: pointer;
}

.href_toggle-bar #href_toggle-bar-second:hover ~ .href_toggle-bar path{
    fill: #000;
}
/* .href_toggle-bar path{
    fill:#000;
} */

@media screen and (max-width:650px) {
    #href_toggle-bar-first {
        /* top: 15%;
        left: 10%;  */
        font-size: 12px;
    }

    #href_toggle-bar-second {
        /* top: 15%;
        right: 11%;  */
        font-size: 12px;
    }
}

@media screen and (max-width:560px) {
    #href_toggle-bar-first {
        /* top: 15%;*/
        left: 12%;  
        font-size: 12px;
    }

    #href_toggle-bar-second {
        /* top: 15%;*/
        right: 11%;  
        font-size: 12px;
    }
}

@media screen and (max-width:420px) {
     #href_toggle-bar-first {
        /* top: 10px;*/
        left: 10px; 
        font-size: 14px;
    }

    #href_toggle-bar-second {
        /* top: 10px;*/
        right: 0px; 
        font-size: 14px;
    }
}

/* #href_toggle-bar-second:hover {
    background-color: #FFF;
    color: #000;
} */

@media screen and (max-width:500px) {
    .href_toggle-bar {
        min-width: 300px;
        height: 70px;
    }
    .href_toggle-bar a {
        height: 50px;
        font-size: 12px;
    }
    /* #href_toggle-bar-first {
        position: absolute;
        top: -5%;
        left: 7%;
    } */
    /* #href_toggle-bar-second {
        position: absolute;
        top: -5%;
        right: 7%;
    } */
}

/* .common-container video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
} */

@media screen and (max-width:715px) {
    /* .common-container video {
        width: auto;
        height: 150vh;
    } */
    .common-container>img {
        width: auto;
        /* width: 100%; */
        height: 100%;
        /* height: 150vh; */
    }
}

.content-container {
    position: relative;
    z-index: 1;
    width: 90%;
}

/*Шапка*/

.header_container {
    text-align: center;
}

.search_tours a {
    color: #F18F34 !important;
}

.search_tours a:visited {
    color: #F18F34 !important;
}

.header_container h1 {
    font-family: Monserat_Bold;
    text-transform: uppercase;
    font-size: 27px;
}

.header_container h2 {
    text-transform: uppercase;
    font-size: 13px;
    color: #555042;
    margin: 20px 0px;
}

@media screen and (min-width:490px) {
    .header_container h2 {
        font-size: 16px;
        padding: 20px 0px 0px;
    }
}

.header_container img {
    width: 80%;
    max-width: 500px;
    margin: 0px 0px 20px;
}

.checkbox-container {
    /* margin: auto; */
    width: 100%;
    margin: 0px 0px 30px !important;
    padding: 15px 0px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background: rgba(51, 51, 51, 0.5) !important;
}

.checkbox-container_item {
    display: flex;
    align-items: center;
    border-radius: 5px;
    /* padding: 5px 10px !important; */
    max-width: 991px;
    gap: 0px;
    width: 100%;
    color: #FFF;
    /* justify-content: space-between; */
    /* padding: 15px 15px; */
}

.checkbox-container_item img {
    width: 50px;
    margin: 0 5px;
    padding: 0;
}

/* .checkbox-container_item input[type="checkbox"] {
    width: 25px;
    height: 25px;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    color: #FFF; */

/* background-color: #e0e0e0; */

/* border: 1px solid #ccc; */

/* } */

/* .checkbox-container_item input[type="checkbox"]:checked { */

/* background-color: #4CAF50; */

/* border: 1px solid #FFF;
    background: none;
    color: #FFF; */

/* } */

/* .checkbox-container_item input[type="checkbox"]:checked::after { */

/* content: "✔"; */

/* content: url("../../../images/icons/btns/checkbox-bar.png"); */

/* position: absolute; */

/* left: 0px;
    top: 0px; */

/* height: 5px; */

/* font-size: 15px; */

/* height: 12px; */

/* width: 100%;
    color: #FFF;
    background: none;
    border-width: 0 3px 3px 0; */

/* transform: rotate(45deg); */

/* } */

.checkbox-container_item li {
    /* position: relative; */
    list-style: none;
    padding: 0px 15px;
}

@media screen and (max-width:450px) {
    .checkbox-container_item {
        font-size: 12px;
    }
    .checkbox-container_item li {
        padding: 0px 5px;
    }
}

/* .checkbox-container_item li::before {
    content: '✔';
    padding-right: 5px;
    color: #2375CE;
    font-weight: bold;
    animation: appearance 2s ease;
    animation: name duration timing-function delay iteration-count direction fill-mode;
} */

@keyframes appearance {
    /* 0% {
        height: 0;
        opacity: 0;
    }

    100% {
        height: 1.75em;
        opacity: 1;
    } */
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: 1.75em;
        opacity: 1;
    }
    40% {
        height: 3.5em;
        width: 1.75em;
        opacity: 1;
    }
    100% {
        height: 3.5em;
        width: 1.75em;
        opacity: 1;
    }
}

/* .checkbox-container_item input {} */

.checkbox-container_item span {
    font-size: 12px;
    line-height: 14px;
    color: #FFF;
}

/* Карусель с контактами */

.contacts-container_block {
    padding: 20px 0px;
    text-align: center;
    font-size: 16px;
}

.contacts-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 0px;
    gap: 1px;
}

.contacts-container_text {
    width: 100%;
}

.contacts-container a {
    max-width: 100px;
    width: 20%;
}

.contacts-container a img {
    width: 100%;
}

.contacts-container_block span {
    display: block;
    margin: 10px 0px;
    padding: 0px 20px;
}

/**/

.green-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0px;
    margin: 10px 0px;
    gap: 15px;
}

.green-buttons a {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100px;
    max-width: 150px;
    background: #ffffff80;
    padding: 15px 0px;
    border-radius: 15px;
}

.green-buttons img {
    max-width: 70px;
}

.green-buttons span {
    font-size: 14px;
}

/*Подвал*/

.footer-container {
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0px;
    font-size: 18px;
    line-height: 20px;
}

.footer-container h3 {
    margin: 20px;
    font-size: 20px;
    /* font-family: Monserat_Bold; */
}

.footer-container span {
    display: block;
    text-transform: none;
    margin: 15px 0px;
}

/* Карусель с изображениями */

.office-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.slider-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-container div {
    /* margin: 10px 0px; */
    background: none;
    font-size: 15px;
    /* padding: 5px 10px; */
}

/* Комментарий */

.dialog {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 0px 5px;
    padding: 20px 0px;
}

.dialog img {
    max-width: 50px;
}

.dialog div {
    height: 100%;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 0;
    text-align: left;
    background: rgba(44, 218, 151, 0.7);
    color: #fff;
}

.dialog div span {
    display: inline;
    padding: 10px 0px;
    text-transform: none;
    text-align: left;
}

.attributes span {
    /* text-align: left; */
    text-transform: none;
    margin: 30px 0px;
}

/* Кнопки */

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.flex a {
    padding: 5px 25px;
    border-radius: 10px;
    color: #FFF;
    text-transform: none;
    font-size: 9px;
    min-width: 300px;
    transition: 1s all;
}

@media screen and (min-width:490px) {
    .flex a {
        font-size: 12px;
    }
}

@media screen and (min-width:730px) {
    .flex a {
        font-size: 18px;
    }
}

.flex a:visited {
    color: #FFF;
}

.flex a:hover {
    /* color: #000; */
    background: #333;
}

.flex a:active {
    transform: scale(1.1);
}

.buttons-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* background: #FFAF01; */
    border-radius: 50px;
    background: linear-gradient(to right, #FFEF26, #FDC800, #F18F34, #E95F32, #CD3333);
}

.find-tours-container a {
    background: #2375CE;
}

.buttons-container img {
    max-width: 20px;
}

.alarm-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:1px solid  #000; */
}

/* .alarm-container div{ */

/* border:1px solid  #000; */

/* } */

.alarm-container_reviews {
    position: absolute;
    right: 0;
}

.alarm-container_block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border:1px solid  #000; */
    width: 300px;
    height: 150px;
    padding: 20px 0px;
}

.alarm-container_block img {
    width: 100%;
}

.alarm-container_block a {
    position: absolute;
    bottom: 5px;
    color: #529ed7;
    font-weight: bold;
    /* left: 25%; */
}

.alarm-container_block a:visited {
    color: #529ed7;
}