/* Стили основного контента */

.common-container {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 5%;
}

span {
    font-family: "Monserat_custom";
    text-align: center;
    line-height: 20px;
    padding: 10px;
    font-size: 16px;
}

.common-container div {
    max-width: 600px;
}

.common-container video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

@media screen and (max-width:715px) {
    .common-container video {
        width: auto;
        height: 150vh;
    }
}

.content-container {
    position: relative;
    z-index: 1;
    width: 90%;
}

/*Шапка*/

.header_container {
    text-align: center;
}

.header_container h1 {
    font-family: Monserat_Bold;
    text-transform: uppercase;
    font-size: 27px;
    padding: 20px 0px;
}

.header_container h2 {
    text-transform: uppercase;
    font-size: 13px;
    color: #555042;
}

@media screen and (min-width:490px) {
    .header_container h2 {
        font-size: 16px;
    }
}

.header_container img {
    width: 80%;
    max-width: 500px;
    margin: 20px 0px;
}

.checkbox-container {
    /* margin: auto; */
    margin: 0px 0px 30px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background: rgba(51, 51, 51, 0.5) !important;
}

.checkbox-container_item {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    border-radius: 5px;
    padding: 15px 15px;
    max-width: 991px;
    gap: 10px;
    width: 100%;
    color: #FFF;
}

.checkbox-container_item input[type="checkbox"] {
    width: 25px;
    height: 25px;
    appearance: none;
    -webkit-appearance: none;
    /* background-color: #e0e0e0; */
    /* border: 1px solid #ccc; */
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}

.checkbox-container_item input[type="checkbox"]:checked {
    /* background-color: #4CAF50; */
    border: 1px solid #FFF;
}

.checkbox-container_item input[type="checkbox"]:checked::after {
    content: "✔";
    position: absolute;
    left: 5px;
    top: 2px;
    width: 6px;
    font-size: 15px;
    height: 12px;
    color: #FFF;
    border-width: 0 3px 3px 0;
    /* transform: rotate(45deg); */
}

.checkbox-container_item li {
    /* position: relative; */
    list-style: none;
    padding: 0px 5px;
}

@media screen and (max-width:450px) {
    .checkbox-container_item {
        font-size: 12px;
    }
}

/* .checkbox-container_item li::before {
    content: '✔';
    padding-right: 5px;
    color: #2375CE;
    font-weight: bold;
    animation: appearance 2s ease;
    animation: name duration timing-function delay iteration-count direction fill-mode;
} */

@keyframes appearance {
    /* 0% {
        height: 0;
        opacity: 0;
    }

    100% {
        height: 1.75em;
        opacity: 1;
    } */
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: 1.75em;
        opacity: 1;
    }
    40% {
        height: 3.5em;
        width: 1.75em;
        opacity: 1;
    }
    100% {
        height: 3.5em;
        width: 1.75em;
        opacity: 1;
    }
}

/* .checkbox-container_item input {} */

.checkbox-container_item span {
    font-size: 12px;
    line-height: 14px;
    color: #FFF;
}

/* Карусель с контактами */

.contacts-container_block {
    padding: 20px 0px;
    text-align: center;
    font-size: 16px;
}

.contacts-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 0px;
    gap: 1px;
}

.contacts-container_text {
    width: 100%;
}

.contacts-container a {
    max-width: 100px;
    width: 20%;
}

.contacts-container a img {
    width: 100%;
}
.contacts-container_block span{
    display: block;
    margin: 10px 0px;
}

/**/

.green-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0px;
    gap: 20px;
}

.green-buttons a {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
}

.green-buttons img {
    max-width: 70px;
}

.green-buttons span {
    font-size: 16px;
}

/*Подвал*/

.footer-container {
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0px;
    font-size: 18px;
    line-height: 20px;
}

.footer-container h3 {
    margin: 20px;
    /* font-family: Monserat_Bold; */
}

.footer-container span{
    display: block;
    text-transform: none;
    margin: 15px 0px;
}

/* Карусель с изображениями */

.office-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.slider-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-container div {
    /* margin: 10px 0px; */
    background: none;
    font-size: 15px;
}

/* Комментарий */

.dialog {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 0px 5px;
}

.dialog img {
    max-width: 50px;
}

.dialog div {
    height: 100%;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 0;
    text-align: left;
    background: #dfdddd;
}

.dialog div span {
    display: inline;
    padding: 10px 0px;
    text-transform: none;
}

.attributes span{
    text-align: left;
    text-transform: none;
}

/* Кнопки */

.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.flex a {
    padding: 5px 25px;
    border-radius: 10px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 9px;
    min-width: 300px;
    transition: 1s all;
}

@media screen and (min-width:490px) {
    .flex a {
        font-size: 12px;
    }
}

@media screen and (min-width:730px) {
    .flex a {
        font-size: 18px;
    }
}

.flex a:visited {
    color: #FFF;
}

.flex a:hover {
    /* color: #000; */
    background: #333;
}

.flex a:active {
    transform: scale(1.1);
}

.buttons-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* background: #FFAF01; */
    border-radius: 50px;
    background: linear-gradient(to right, #FFEF26, #FDC800, #F18F34, #E95F32, #CD3333);
}

.find-tours-container a {
    background: #2375CE;
}

.buttons-container img {
    max-width: 20px;
}