/* Стили основного контента */
.common-container {
    display: flex;
    justify-content: center;
    position: relative;
    /* border: 1px solid black; */
    padding: 5%;
}

.common-container video {
    /* min-width: 600px ; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* border: 1px solid black; */
    /* height: 100%; */
    z-index: 0;
}

/* @media screen and (max-width:991px) {
    .common-container video {
        width: auto;
        height: 100%;
    }
} */

.content-container {
    position: relative;
    z-index: 1;
    width: 85%;
}

/*Шапка*/
.header_container {
    text-align: center;
}

.header_container h1 {
    font-family: Monserat_Bold;
    text-transform: uppercase;
    font-size: 25px;
    padding: 20px 0px;
}

.header_container h2 {
    /* font-family: Monserat_Bold; */
    text-transform: uppercase;
}

.header_container img {
    width: 30%;
    max-width: 100px;
}

.checkbox-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkbox-container_item {
    display: flex;
    justify-content: space-between;
    background: #FFF !important;
    border-radius: 5px;
    padding: 15px 10px;
    max-width: 600px;
    width: 100%;
}

/* Карусель с контактами */
.contacts-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contacts-container a {
    width: 25%;
}

.contacts-container a img{
    width: 100%;
}

/*Подвал*/
.footer-container {
    font-family: Monserat_Bold;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0px;
    font-size: 18px;
}


/* Карусель с изображениями */
.office-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.slider-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-container div {
    margin: 10px 0px;
    background: none;
}